<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>Vue Day 4</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <div id="app">
      <!-- <h2 v-text="title"></h2> -->
      <h2>{{title}}</h2>
      <!-- <img src="./images/logo.jpg" /> -->
      <!-- <img v-bind:src="src" /> -->
      <img :src="src" />
      <div>{{headline}}</div>
      <div>{{headline2}}</div>
      <p>
        <span>{{index+1}}</span>
        <span>{{today.type}}</span>
        <!-- TODO: UI 优化 -->
        <!-- <a v-if="index>0" v-on:click="changeIndex(-1)">Left</a> -->
        <a v-if="index>0" @click="changeIndex(-1)">Left</a>
        <a :href="today">{{today.title}}</a>
        <!-- <a v-if="index < total-1" v-on:click="changeIndex(+1)">Right</a> -->
        <a v-if="index < total-1" @click="changeIndex(+1)">Right</a>
      </p>
    </div>

    <script>
      let data = {
        src: './images/logo.jpg',
        title: '关于我们',
        headline: 'ABOUT',
        headline2: 'Heart Sushi',
        intro: 'Heart Sushi在密西沙加的第一家店于2014年2月23日开张.',
        index: 0,
        menu: [
          { type: '第1个', title: '1111', link: 'www.google.com' },
          { type: '第2个', title: '2222', link: 'www.google.com' },
          { type: '第3个', title: '3333', link: 'www.google.com' },
          { type: '第4个', title: '4444', link: 'www.google.com' },
          { type: '第5个', title: '5555', link: 'www.google.com' },
          { type: '第6个', title: '6666', link: 'www.google.com' }
        ]
      };
      let vm = new Vue({
        el: '#app',
        data: data,
        computed: {
          today() {
            return this.menu[this.index];
          },
          total() {
            return this.menu.length;
          }
        },
        methods: {
          changeIndex(change) {
            // this.index += change;
            // if (this.index < 0) {
            //   this.index = 0;
            // } else if (this.index > this.menu.length - 1) {
            //   this.index = this.menu.length - 1;
            // }
            this.index =
              // let length = this.menu.length;
              (this.index + change + length) % this.total;
            // console.log(this.index);
            // console.log(this.menu.length);
          }
        }
      });
    </script>
  </body>
</html>
