<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <title>Vue Day 6</title>
  </head>
  <body>
    <div id="app">
      <section>
        <div class="container">
          <div class="title">
            <div class="input">
              <select v-model="input.type">
                <option>TOPIC 1</option>
                <option>TOPIC 2</option>
                <option>TOPIC 3</option>
                <option>TOPIC 4</option>
                <option>TOPIC 5</option>
                <option>TOPIC 6</option>
              </select>
              <input
                type="text"
                v-model.trim="input.title"
                @keyup.enter="inputHandler"
              />
            </div>
            <br />
            <div class="menu">
              <div class="menuItem" v-for="(item, index) in menu" :key="index">
                <span class="number">{{index+1}}</span>
                <span class="type">{{item.type}}</span>
                <a :href="item.link" target="vue-iron" class="title"
                  >{{item.title}}</a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script src="./js/day6.js"></script>
  </body>
</html>
